/* =========================
CHAT HEADER BASE STYLE
========================= */

.chat-header {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background: #fff;
    border-bottom: 1px solid #ddd;
}

.profile-icon {
    font-size: 20px;
}

/* =========================
USER PAGE (ICON LEFT)
========================= */

.user-page .chat-header {
    justify-content: flex-start;
}

.user-page .profile-icon {
    margin-right: 10px;
}

/* =========================
PROFILE PAGE (ICON RIGHT)
========================= */

.profile-page .chat-header {
    justify-content: space-between;
}

.profile-page .profile-icon {
    margin-left: auto;
}

#bottomNavbar .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* KEY FIX */
    width: 100%;
    height: 100%;
    padding: 0 0px;
}

/* LEFT ICON (HOME) */
.nav-icon.left {
    margin-left: 5px;
}

/* RIGHT ICON (PROFILE) */
.nav-icon.right {
    margin-right: -2px;
}

/* CENTER GROUP */
.nav-center {
    display: flex;
    gap: 50px; /* spacing between search, video, chat */
    align-items: center;
}

/* ICON STYLE */
.nav-icon {
    font-size: 20px;
    color: #333;
    text-decoration: none;
