.create-post {
    width: 100%;
    box-sizing: border-box;
}

.create-post h3 {
    margin: 10px 0;
}

.post-text-area {
    width: 100%;
}

#profilePostContent {
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    resize: none;
}

.create-post-btn {
    background: transparent;
    border: none;
    cursor: pointer;
}

#profilePostBtn {
    background: transparent;
    border: none;
    color: #0095f6;
    cursor: pointer;
}
