/* =========================
   FOLLOWING PAGE
========================= */

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f5f5f5;
    color:#222;
    padding-bottom:80px;
}


/* HEADER */

.following-header{
    height:60px;
    background:white;
    display:flex;
    align-items:center;
    justify-content:center;
    border-bottom:1px solid #ddd;
    position:sticky;
    top:0;
    z-index:10;
}

.following-header h2{
    font-size:20px;
}


/* LIST */

.following-container{
    padding:15px;
}


/* USER CARD */

.following-card{
    background:white;
    display:flex;
    align-items:center;
    padding:12px;
    margin-bottom:10px;
    border-radius:12px;
    box-shadow:0 2px 6px rgba(0,0,0,0.08);
}


/* IMAGE */

.following-card img{
    width:55px;
    height:55px;
    border-radius:50%;
    object-fit:cover;
    margin-right:12px;
}


/* INFO */

.following-info{
    flex:1;
}

.following-info h3{
    font-size:16px;
    margin-bottom:5px;
}

.following-info p{
    color:#777;
    font-size:13px;
}


/* BUTTON */

.following-btn{
    border:none;
    background:#ddd;
    color:#333;
    padding:8px 15px;
    border-radius:20px;
    cursor:pointer;
}


.following-btn:hover{
    background:#ccc;
}


.empty-following{
    text-align:center;
    margin-top:40px;
    color:#777;
}
