.user-menu-container {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 10000;
}

.menu-btn {

    background: transparent !important;
    border: none !important;

    font-size: 28px;

    cursor: pointer;

    color: #333 !important;

    padding: 0;
    margin: 0;

}


.profile-menu {

    position: absolute;

    right: 0;

    top: 45px;

    width: 190px;

    background: white;

    border-radius: 10px;

    box-shadow: 0 4px 15px rgba(0,0,0,0.2);

    display: none;

    z-index: 99999;

    overflow: hidden;

}



.profile-menu.show {

    display: block;

}


.menu-item {

    width: 100%;

    padding: 12px 15px;

    border: none !important;

    background: white !important;

    color: #333 !important;

    text-align: left;

    cursor: pointer;

    font-size: 15px;

    display: flex;

    align-items: center;

    gap: 10px;

    margin: 0 !important;

    border-radius: 0 !important;

}
.menu-item:hover {
    background: #f2f2f2;
    color: #333;
}
